<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-xs-2">
							<div id="colorlib-logo"><a href="index.html">Kitty Market</a></div>
						</div>
						<div class="col-xs-10 text-right menu-1">
							<ul>
								<li class="active"><a href="index.html">Home</a></li>
								<li class="has-dropdown">
									<a href="shop.html">Shop</a>
									<ul class="dropdown">
										<li><a href="product-detail.html">Product Detail</a></li>
										<li><a href="cart.html">Shipping Cart</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="order-complete.html">Order Complete</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="cart.html">Cart [0]</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(http://a406.idata.over-blog.com/600x400/4/32/42/40/Chatons/Chatons-2011/Chatons-2011-4582.jpg);">
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Collection été</h1>
					   					<p class="category"><span>Nos photos de chatons au soleil</span></p>
					   					<p><a href="#" class="btn btn-primary">Amenez le soleil dans vos vies tristes</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(https://jardinage.lemonde.fr/images/dossiers/2017-08/chaton-155455.jpg)">
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Enorme Promo</h1>
					   					<h2 class="head-3">-50% sur les chatons roux</h2>
					   					<p class="category"><span>Nos chatons roux</span></p>
					   					<p><a href="#" class="btn btn-primary">Envie de roux ?</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(https://p7.storage.canalblog.com/75/48/1168496/114286010_o.jpg)">
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Nouvelle Collection</h1>
					   					<h2 class="head-3">Collection Hiver</h2>
					   					<p class="category"><span>Des ptits chats dans la neige</span></p>
					   					<p><a href="#" class="btn btn-primary">Un peu de fraicheur au coin du feu ?</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div class="colorlib-shop">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
						<h2><span>Nos chatons</span></h2>
						<p>Voici notre collection de photos de chatons</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://media.gerbeaud.net/2015/10/640/biberon-chaton.jpg);">
								<p class="tag"><span class="sale">Sale</span></p>
							</div>
							<div class="desc">
								<h3><a href="shop.html">Chaton nouveau-né</a></h3>
								<p class="price"><span>25€</span> <span class="sale">40€</span> </p>
							</a></div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://cdnfr1.img.sputniknews.com/images/103447/43/1034474344.jpg);">
								<p class="tag"><span class="new">New</span></p>
							</div>
							<div class="desc">
								<h3><a href="shop.html">Chaton gris</a></h3>
								<p class="price"><span>50€</span></p>
							</a></div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHKCeJuY1_6XqTOnS9ZwGyctMWE-7zPZmVczJw8v5dOkC4RwNl);">
								<p class="tag"><span class="new">New</span></p>
							</div>
							<div class="desc">
								<h3><a href="shop.html">Chaton vraiment trop bégé</a></h3>
								<p class="price"><span>50€</span></p>
							</a></div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://jardinage.lemonde.fr/images/dossiers/2017-08/chaton-161238.jpg);">
								<p class="tag"><span class="new">New</span></p>
							</div>
							<div class="desc">
								<h3><a href="shop.html">Chaton qui joue</a></h3>
								<p class="price"><span>20€</span></p>
							</a></div>
						</div>
					</div>
					
		<div id="colorlib-testimony" class="colorlib-light-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
						<h2><span>Nos clients satisfaits</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">						
						<div class="owl-carousel2">
							<div class="item">
								<div class="testimony text-center">
									<span class="img-user" style="background-image: url(https://resize-lejdd.lanmedia.fr/rcrop/620,310/img/var/europe1/storage/images/lejdd/politique/brigitte-macron-sengage-dans-la-protection-de-lenfance-3802898/51033530-1-fre-FR/Brigitte-Macron-s-engage-dans-la-protection-de-l-enfance.jpg);"></span>
									<span class="user">Brigitte Macron</span>
									<small>Paris, France</small>
									<blockquote>
										<p>J'aime vraiment trop leurs chatons ils sont trop mignons. J'en ai acheté un pour les 40 ans de Manu</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony text-center">
									<span class="img-user" style="background-image: url(http://www.slate.fr/sites/default/files/styles/1060x523/public/zemmour-fact-checking-croisades.jpg);"></span>
									<span class="user">Eric Zemmour</span>
									<small>Paris, France</small>
									<blockquote>
										<p>Les chatons c'est quand même plus sympa que les immigrés</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony text-center">
									<span class="img-user" style="background-image: url(https://www.jeuneafrique.com/medias/2017/02/28/sipa_ap22019754_000023-592x296-1494341645.jpg);"></span>
									<span class="user">Donald Trump</span>
									<small>Washington, USA</small>
									<blockquote>
										<p>Kittens from Kitty Market are the bests. I love it, specially with ketchup</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		
		<div id="colorlib-subscribe">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-6 text-center">
							<h2><i class="icon-paperplane"></i>Sign Up for a Newsletter</h2>
						</div>
						<div class="col-md-6">
							<form class="form-inline qbstp-header-subscribe">
								<div class="row">
									<div class="col-md-12 col-md-offset-0">
										<div class="form-group">
											<input type="text" class="form-control" id="email" placeholder="Enter your email">
											<button type="submit" class="btn btn-primary">Subscribe</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">

					<div class="col-md-3">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
							<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="#">yoursite.com</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							
							<span class="block"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart2" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span> 
							<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>
