<aside id="colorlib-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url(http://a406.idata.over-blog.com/600x400/4/32/42/40/Chatons/Chatons-2011/Chatons-2011-4582.jpg);">
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Collection été</h1>
					   					<p class="category"><span>Nos photos de chatons au soleil</span></p>
					   					<p><a href="items/index.html.erb" class="btn btn-primary">Voir la collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(https://jardinage.lemonde.fr/images/dossiers/2017-08/chaton-155455.jpg)">
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Enorme Promo</h1>
					   					<h2 class="head-3">-50% sur les chatons roux</h2>
					   					<p class="category"><span>Nos chatons roux</span></p>
					   					<p><a href="items/index.html.erb" class="btn btn-primary">Voir la collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url(https://p7.storage.canalblog.com/75/48/1168496/114286010_o.jpg)">
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 col-sm-12 col-xs-12 slider-text">
				   				<div class="slider-text-inner">
				   					<div class="desc">
					   					<h1 class="head-1">Nouvelle Collection</h1>
					   					<h2 class="head-3">Collection Hiver</h2>
					   					<p class="category"><span>Des ptits chats dans la neige</span></p>
					   					<p><a href="items/index.html.erb" class="btn btn-primary">Voir la collection</a></p>
				   					</div>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>

		<div class="colorlib-shop">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
						<h2><span>Nos chatons</span></h2>
						<p>Voici notre collection de photos de chatons</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://media.gerbeaud.net/2015/10/640/biberon-chaton.jpg);">
								<p class="tag"><span class="sale">Sale</span></p>
							</div>
							<div class="desc">
								<h3><a href="">Chaton nouveau-né</a></h3>
								<p class="price"><span>25€</span> <span class="sale">40€</span> </p>
							</a></div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://cdnfr1.img.sputniknews.com/images/103447/43/1034474344.jpg);">
								<p class="tag"><span class="new">New</span></p>
							</div>
							<div class="desc">
								<h3><a href="shop.html">Chaton gris</a></h3>
								<p class="price"><span>50€</span></p>
							</a></div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHKCeJuY1_6XqTOnS9ZwGyctMWE-7zPZmVczJw8v5dOkC4RwNl);">
								<p class="tag"><span class="new">New</span></p>
							</div>
							<div class="desc">
								<h3><a href="shop.html">Chaton vraiment trop bégé</a></h3>
								<p class="price"><span>50€</span></p>
							</a></div>
						</div>
					</div>
					<div class="col-md-3 text-center">
						<div class="product-entry"><a href="shop.html">
							<div class="product-img" style="background-image: url(https://jardinage.lemonde.fr/images/dossiers/2017-08/chaton-161238.jpg);">
								<p class="tag"><span class="new">New</span></p>
							</div>
							<div class="desc">
								<h3><a href="shop.html">Chaton qui joue</a></h3>
								<p class="price"><span>20€</span></p>
							</a></div>
						</div>
					</div>
					
		<div id="colorlib-testimony" class="colorlib-light-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
						<h2><span>Nos clients satisfaits</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">						
						<div class="owl-carousel2">
							<div class="item">
								<div class="testimony text-center">
									<span class="img-user" style="background-image: url(https://resize-lejdd.lanmedia.fr/rcrop/620,310/img/var/europe1/storage/images/lejdd/politique/brigitte-macron-sengage-dans-la-protection-de-lenfance-3802898/51033530-1-fre-FR/Brigitte-Macron-s-engage-dans-la-protection-de-l-enfance.jpg);"></span>
									<span class="user">Brigitte Macron</span>
									<small>Paris, France</small>
									<blockquote>
										<p>J'aime vraiment trop leurs photos de chatons ils sont trop mignons. J'en ai acheté une pour les 40 ans de Manu</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony text-center">
									<span class="img-user" style="background-image: url(http://www.slate.fr/sites/default/files/styles/1060x523/public/zemmour-fact-checking-croisades.jpg);"></span>
									<span class="user">Eric Zemmour</span>
									<small>Paris, France</small>
									<blockquote>
										<p>Les chatons c'est quand même plus mignon que les immigrés</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony text-center">
									<span class="img-user" style="background-image: url(https://www.jeuneafrique.com/medias/2017/02/28/sipa_ap22019754_000023-592x296-1494341645.jpg);"></span>
									<span class="user">Donald Trump</span>
									<small>Washington, USA</small>
									<blockquote>
										<p>Kittens from Kitty Market are the bests. I love it, I put theirs pictures everywhere in the white House</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony text-center">
									<span class="img-user" style="background-image: url(http://www.simplecommegeek.net/wp-content/uploads/2016/07/Cthulhu-2.jpg);"></span>
									<span class="user">Cthulhu</span>
									<small>Xoth</small>
									<blockquote>
										<p>Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		
