<div class="container">
    <% if @items %>
        <% @items.each do |item| %>
            <div class="item">
                <%= item.title %> <br>
                <img src="<%= item.image_url %>" />
                <%= link_to "Details ", item %>
            </div>
        <% end %>!
    <% end %>
</div>