// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



input[type="file"] { background-color:white; font:bold 14px Arial, Helvetica, sans-serif; color:#3287C8; border:0; cursor:pointer; }