<footer id="colorlib-footer" role="contentinfo">
	<div id="colorlib-subscribe">
		<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="col-md-6 text-center">
							<h2><i class="icon-paperplane"></i>Sign Up for a Newsletter</h2>
						</div>
						<div class="col-md-6">
							<form class="form-inline qbstp-header-subscribe">
								<div class="row">
									<div class="col-md-12 col-md-offset-0">
										<div class="form-group">
											<input type="text" class="form-control" id="email" placeholder="Enter your email">
											<button type="submit" class="btn btn-primary">Subscribe</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>


			<div class="container">
				<div class="row row-pb-md">

					<div class="col-md-3">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>Place de la Mairie<br>35000 Rennes</li>
							<li><a href="tel://1234567920"> 02 23 62 10 1O</a></li>
							<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
							<li><a href="#">yoursite.com</a></li>
						</ul>
					</div>
				</div>
			</div>


	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><img src="https://icon-icons.com/icons2/38/PNG/48/uparrow_arriba_5809.png"></a>
	</div>
</footer>